nav {

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        gap: 10px;

        li {
            display: block;
            padding: 10px;

            a {
                font-size: 1.5em;
                color: white;
                text-decoration: none;
                text-transform: uppercase;

                &:hover {
                    color: grey;
                    text-shadow: 1px 1px 5px #0000007a;
                }
            }
        }
    }
}