@use '/src/styles/global' as *;

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 2rem;

    li {
        color: $cinza1;
        text-transform: uppercase;

        a {
            text-decoration: none;
            color: inherit;
            transition: color 0.2s ease;

            &:hover {
                color: $main;
            }
        }
    }
}