@use '/src/styles/global' as *;

ul.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 2rem;

    li {
        color: $cinza1;
        text-transform: uppercase;

        a {
            text-decoration: none;
            color: inherit;
            transition: color 0.2s ease;

            &:hover,
            &:focus {
                color: $main;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    ul.menu {
        position: fixed;
        bottom: 0;
        z-index: 999;

        li {
            color: $branco;
            font-weight: 600;
        }
    }
}