@use '/src/styles/global' as *;

#skills {
    padding: 6rem 0;
    background-color: #0b0f10;
    position: relative;

    .container {
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 1.5rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        h1 {
            width: 100%;
        }

        .skills-container,
        .idiomas-container,
        .geo-container {
            display: flex;
            flex-flow: column;
            gap: 1.5rem;
            width: calc(50% - 2rem);

            h2 {
                margin: 0;
                color: $main;
                text-transform: uppercase;
                font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
                font-weight: lighter;
                font-size: 1.2rem;
                letter-spacing: 0.1em;
            }

            .item {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 0.25rem;

                .level {
                    font-weight: 700;
                }

                .progress {
                    width: 100%;
                    height: 10px;
                    border-radius: 10px;
                    overflow: hidden;
                    background-color: #1f2937;

                    .filler {
                        display: block;
                        background-image: linear-gradient(to right, #35f2a6, #3ae8c8);
                        background-clip: border-box;
                        -webkit-text-fill-color: transparent;
                        height: 100%;
                    }
                }
            }
        }
    }
}