@use '/src/styles/global' as *;

footer {
    background-color: $dark;

    span {
        display: block;
        width: fit-content;
        margin: 0 auto;
        text-align: center;
        font-family: $fonte-mono;
        color: $cinza1;
        line-height: 4rem;
        padding: 0 5px;
        border-top: solid 1px $cinza2;
    }
}